# suppress inspection "UnusedProperty" for whole file
# Copy this file to keystore.properties and fill in the correct values to enable signing the app
# from the command line
keyAlias=
keyPassword=
storeFile=
storePassword=